@model IEnumerable<GymManagementSystem.Models.Classes>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Configure Classes</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ClassName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Schedule)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Trainers.FirstName)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.ClassName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Schedule)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Trainers.FirstName)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id = item.ClassID }, new { @class = "btn btn-primary text-white" }) |
            @Html.ActionLink("Details", "Details", new { id = item.ClassID }, new { @class = "btn btn-success text-white" }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.ClassID }, new { @class = "btn btn-danger text-white" })
        </td>
    </tr>
}

</table>
